.viewport {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}

.parent {
	overflow: hidden;
	position: relative;
}

.child {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
	overflow-x: scroll;
}
