//letter spacing
.ls {
	&-half {
		letter-spacing: 0.5px;
	}

	&-1 {
		letter-spacing: 1px;
	}
	&-2 {
		letter-spacing: 2px;
	}
}

//font size
.fs {
	font-size: 1rem;

	&-s {
		font-size: 0.5rem;
	}

	&-l {
		font-size: 2rem;
	}

	&-xl {
		font-size: 2.5rem;
	}

	&-xxl {
		font-size: 3.5rem;
	}
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
}

.btn {
	font-family: 'Lato', sans-serif;

	&:focus {
		background-color: lightgray;
		outline: none;
		box-shadow: none;
	}

	&-light {
		&:hover {
			color: white;
			background-color: gray;
		}

		&:focus {
			background-color: lightgray;
		}
	}

	&-keypad {
		font-size: 0.8rem;
	}
}

.border {
	&-grey {
		border-color: grey;
	}
}
